.idea
*.iml
**/.mvn

**/logs/*
**/release/*
**/classes/*
**/dist/*
**/docs/*
**/lib/
**/reports/*
**/target

# Maven
release.properties

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
